.containerHome {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.containerHome img {
  max-width: 500px;
  width: 40%;
}

.containerHome div {
  text-align: center;
}

.containerHome h1 {
  width: 350px;
  line-height: 2.5;
  font-size: 40px;
}

.containerHome_btn {
  width: 150px;
  cursor: pointer;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 850;
}

.containerHome_btn:hover {
  background-color: #858286;
  color: white;
}

@media screen and (max-width: 480px) {
  .containerHome {
    display: block;
    width: 90%;
    margin-bottom: 100px;
  }

  .containerHome img {
    display: none;
  }
}

