.containerHome {
  width: 60%;
  margin: auto;
  margin-top: 40vh;
  transform: translateY(-45%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerHome div {
  text-align: center;
}

.containerHome h1 {
  width: 350px;
  line-height: 2.5;
  font-size: 40px;
}

.containerHome_btn {
  width: 150px;
  cursor: pointer;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 850;
}

.containerHome_btn:hover {
  background-color: #858286;
  color: white;
}
