.containerMangaDetailsGlobal {
  min-width: 800px;
  max-width: 60%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 100px;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 5px;
  font-family: "lato", "arial";
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.containerMangaDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerMangaDetails img {
  min-width: 300px;
  height: 100%;
}

.containerMangaDetails_text {
  margin-left: 50px;
}

.containerMangaDetails_text_back {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  color: #3f51b5;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
}

.containerMangaDetails_text_back:hover {
  background-color: #3f51b5;
  color: white;
}

.containerMangaDetails_text_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerMangaDetails_text h2 {
  border-bottom: 3px solid#f5c21b;
}

.containerMangaDetails_text h3 {
  color: #c21a1a;
}

.containerMangaDetails_text a {
  color: #3f51b5;
  font-weight: 500;
  padding: 10px;
}

.containerMangaDetails_text a:hover {
  color: white;
  background-color: #3f51b5;
}

.containerMangaDetails_text_infos {
  display: flex;
  justify-content: space-between;
}

.icon {
  font-size: 25px;
  margin-left: 15px;
}

@media screen and (max-width: 1000px) {
  .containerMangaDetailsGlobal {
    min-width: auto;
    max-width: 80%;
    align-items: center;
  }

  .containerMangaDetails_text {
    margin: 0;
    margin-top: 20px;
  }

  .containerMangaDetails_text_back {
    margin-bottom: 20px;
  }

  .containerMangaDetails {
    flex-direction: column;
  }

  .containerMangaDetails img {
    width: auto;
    height: 350px;
  }
}
