.containerNav {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}

.containerNav h1 {
  margin-left: 50px;
  font-size: 40px;
}

.containerNav_ul {
  display: flex;
  list-style: none;
}

.containerNav_ul li a {
  width: 150px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active,
.containerNav_ul li a:hover {
  background-color: #858286;
  color: white !important;
}
.containerNav_responsive {
  display: none;
}

@media screen and (max-width: 480px) {
  .containerNav h1 {
    margin: 10px;
  }

  .containerNav_ul {
    display: none;
  }

  .containerNav_responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
    cursor: pointer;
  }

  .containerNav_responsive-close {
    display: none;
  }

  .containerNav_responsive-open {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #4c6c9d;
    border-radius: 5px;
    height: 200px;
    width: 50%;
    position: absolute;
    top: 47px;
    justify-content: space-around;
  }
  .containerNav_responsive-open a {
    color: white;
    border-bottom: solid 1px black;
  }

  .active {
    background-color: transparent;
  }
}

@media screen and (max-width: 1000px) {
  .containerNav h1 {
    font-size: 30px;
  }
}
